@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    padding: 50px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

span {
    
    font-weight: 700;
    text-align: center;

}

.span-morning {
    color: #ffffff;
    text-shadow: 1px 1px #000;
}

.span-afternoon {
    color: #fcfcfc;
    text-shadow: 1px 1px #000;
}

.span-noon {
    color: #242424;

}

.td-morning {
    background-color: #9fd1ba !important;
}

.td-noon {
    background-color: #FAD95B !important;
}

.td-afternoon {
    background-color: #42518c !important;
}