body {
    padding: 50px;
}
span {
    font-weight: 700;
    text-align: center;
}
.span-morning {
    color: #0F5132;
}
.span-afternoon {
    color: #ffffff;
}
.span-noon {
    color: #000000;
}
.td-morning {
    background-color: #D1E7DD !important;
}
.td-noon {
    background-color: #cbf70438 !important;
}
.td-afternoon {
    background-color: #68045794 !important;
}